body {
    background-image: url("../assets/images/snowBackground.gif");
    /* background-repeat: no-repeat; */
    background-position: center;
}
.jumbotron {
    background-color: red;
    color: white;
    
}
.main {
    background-color: green;
    margin-bottom: 1%;
}
.card {
    background-color: indigo;
    color:white
}
.footer {
    background-color: red;
    color: white;
}
img {
    height: 10%;
    width: 10%; 
    border: 3px red solid;    
}
.img1 {
    height: 15%;
    width: 15%;
    border: 3px green solid;
}
.img2 {
    height: 70%;
    width: 25%;
    /* float: right; */
    border: 3px red solid;
}

@media screen and (max-width: 400px) {
    .img1 {
        height: 55%;
        width: 55%;
    }
    
    .img2 {
        height: 50%;
        width: 50%;
    }
}
